body {
  background-color: #faf5ef;
  color: #333;
  font-family: sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}

header {
  position: fixed;
  color: #fff;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 4px solid red;
  background-color: #252525;
}

footer {
  position: fixed;
  color: #fff;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #666;
  text-align: center;

}

nav {
  float: right;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 2.2em 2em;
}
nav ul li {
  display: inline;
  padding: 0 .4em;
}

nav ul li a {
  text-decoration: none;
  font-size: 1em;
  color: #fafaf6;
  padding-bottom: 1.3em;
}

nav ul li a:hover {
  border-bottom: 3px solid #fafaf6;
}

.intro_photo img{
  border-radius: 50%;
  vertical-align: top;
  max-width: 58%;
  height: auto;
  border:5px solid white;
}

.logo {
  float: left;
  color: #fafaf6;
  font-size: 30px;
  line-height: 50px;
  padding: 15px;
}

.intro_text {
    margin-left: 30px;
    line-height: 20pt;
    display: inline-block;
    text-align: left;
    width: 42%;
}

.caption {
  padding-top: 5px;
  display: block;
  font-size: 10pt;
}

.intro {
  padding-bottom: 50px;
}

.intro_photo {
  display: inline-block;
}

.degree {
  display: inline-block;
}

.u_logo {
  width: 80px;
  height: auto;
}

.arrows {
  display: inline-block;
  width: 5%;
  height: auto;
}

.page_title {
  text-align:left;
}

h3 {
  font-style: italic;
}

.book {
  padding: 10px 50px 100px 50px;
  border-bottom: 5px solid #d7d1c9;
}
.book_img {
  display: inline-block;
  float: left;
}
.book_text {
  display: inline-block;
  text-align: left;
  width: 45%;
}

.book_img img {
  padding: 20px;
  height: 270px;
  width: 200px;
  vertical-align: top;
}

.book_text p {
  line-height: 20pt;
}

h1, h2{
  text-align: left;
}

li.names{
  text-align: left;
}

#act {
  padding-top: 20px;
  padding-left:40 px;
  padding-bottom: 20px;
  border-left: 20px solid #FDD795;
  border-right: 10px solid #f2e3c9;
  border-radius: 12px;
  background-color: #f2e3c9;
}

activity ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #808080;
  text-align: left;
}

activity ul li a {
  color: #333;
  text-decoration: none;
}
activity ul li a:hover {
  color: #808080;
  text-decoration: underline;
}

h1, h2{
  text-align: left;
}

li.names{
  text-align: left;
  text-size: 1em;
}

p.header_text{
  text-align: left;
  font-size: 1.3em;
}

li.big_bulletpts{
  text-align: left;
  font-size: 1.3em;
  font-weight: bold;
}
