<header>

  <div class="logo">Tamal Dey</div>
  <div class="navbar">
  <a href="../index.html">Home</a>
  <a href="../book.html">Book</a>
  <a href="../teaching.html">Teaching</a>
  <a href="../activity.html">Activities</a>
  <div class="dropdown">
    <button class="dropbtn">Research
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="../research.html">Research</a>
      <a href="../personnel.html">Personnel</a>
      <a href="../software.html">Software</a>
      <a href="../projects.html">Projects</a>
    </div>
  </div>
</div>

</header>
