<header>

  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Research</a></li>
      <li><a href="#">Teaching</a></li>
      <li><a href="#">Activities</a></li>
    </ul>
  </nav>

</header>
