<h1 class="page_title">My Published Books</h1>

<div class="book">
  <div class="book_img">
    <img src="images/Book1.jpg" alt="">
    <span class="caption"><a href="http://web.cse.ohio-state.edu/~dey.8/book/recon/preface.pdf">Preface and contents</a></span>
    <span class="caption"><a href="http://web.cse.ohio-state.edu/~dey.8/book/recon/chapter3and4.pdf">Two chapters</a></span>
  </div>
  <div class="book_text">
    <h3>Curve and Surface Reconstruction : Algorithms with Mathematical Analysis</h3>
    <p>
      This book shows how to compute a digital model from this point sample.
      After developing the basics of sampling theory and its connections to various geometric and topological properties,
      the author describes a suite of algorithms that have been designed for the reconstruction problem, including algorithms for surface reconstruction from dense samples,
      from samples that are not adequately dense and from noisy samples. Voronoi- and Delaunay-based techniques,
      implicit surface-based methods and Morse theory-based methods are covered.
      Scientists and engineers working in drug design, medical imaging, CAD, GIS, and many other areas will benefit from this first book on the subject.
    </p>
  </div>
</div>

<div class="book">
  <div class="book_img">
    <img src="images/Book2.jpg" alt="">
    <span class="caption"><a href="http://web.cse.ohio-state.edu/~dey.8/meshbook.html">See Details including sample chapters</a></span>
  </div>
  <div class="book_text">
    <h3>Delaunay Mesh Generation</h3>
    <p>
      The book is one of the first to integrate a vast amount of cutting-edge material on Delaunay triangulations.
      It begins with introducing the problem of mesh generation and describing algorithms for constructing Delaunay triangulations.
      The authors then present algorithms for generating high-quality meshes in polygonal and polyhedral domains.
      They also illustrate how to use restricted Delaunay triangulations to extend the algorithms to surfaces with ridges and patches and volumes with smooth surfaces.
    </p>
  </div>
</div>
