<div class="intro">
  <div class="intro_photo">
    <img src="images/wiki_dey.jpg">
    <span class="caption">(<a href="http://web.cse.ohio-state.edu/~dey.8/cv.pdf">Curriculum  Vitae</a>)</span>
  </div>

  <div class="intro_text">
    <h1>Prof. Tamal Krishna Dey</h1>
    <p>I am an Indian mathematician and computer scientist specializing in computational geometry and computational topology.
      I was elected as an <a href="https://www.acm.org/media-center/2018/december/fellows-2018">ACM Fellow</a>
        in 2018 for "contributions to computational geometry and computational topology".
      I am also a fellow of the <a href="https://www.computer.org/press-room/2016-news/cs-fellows-2017">IEEE</a>
       and <a href="http://solidmodeling.org/awards/sma-fellows/sma-fellows-2019/">SMA</a>.
       Currently, I am a professor teaching in the <a href="https://cse.osu.edu/">Department of Computer Science and Engineering</a> at the Ohio State University.
    </p>
  </div>
</div>

<div>
  <h3>My Education Journey</h3>

  <div class="degree">
    <img class="u_logo" src="images/Jadavpur.png">
    <span class="caption">B.E.<br>Jadavpur University, Calcutta<br>1981-1985</span>
  </div>

  <img class="arrows" src="images/arrows.png">

  <div class="degree">
    <img class="u_logo" src="images/Purdue.png">
    <span class="caption">M.E.<br>Purdue University<br>1985-1987</span>
  </div>

  <img class="arrows" src="images/arrows.png" alt="">

  <div class="degree">
    <img class="u_logo" src="images/Jadavpur.png">
    <span class="caption">PhD<br>Jadavpur University, Calcutta<br>1988-1991</span>
  </div>

  <img class="arrows" src="images/arrows.png" alt="">

  <div class="degree">
    <img class="u_logo" src="images/Illinois.png" alt="">
    <span class="caption">Post Doctorate<br>U. of Illinois, U-C<br>1991-1992</span>
  </div>

</div>
