

<body>
	<h1>Research Personnel</h1>
	<h2 class="act">Current Personnel</h2>
	<ul>
		<li>Cheng Xin, PhD</li>
		<li>Jiayuan Wang, PhD</li>
		<li><a href = "http://web.cse.ohio-state.edu/~slechta.3/">Ryan Slechta</a>, PhD</li>
		<li><a href ="http://web.cse.ohio-state.edu/~mandal.25/">Sayan Mandal</a>, PhD</li>
		<li>Soham Mukherjee, PhD</li>
		<li>Tao Hou, PhD</li>
		<li>Tianqi Li, PhD</li>
	</ul>
	<h2 class="act">Past Personnel</h2>
	<ul>
		<li>Alfred Rossi, post-doc</li>
		<li><a href = "https://www.researchgate.net/scientific-contributions/21388555_Andrew_G_Slatton">Andrew Slatton</a>, Phd</li>
		<li>Dayu Shi, Phd, Google</li>
		<li>Fengtao Fan, Phd, Google</li>
		<li>Hyuckje Woo, Post-doc, Prof. KINST, Korea</li>
		<li>James Hudson, PhD, Prof. at Swansee U.</li>
		<li><a href = "https://www.researchgate.net/profile/Jian_Sun52">Jian Sun</a>, PhD, post-doc at Stanford and Princeton, Prof. Tsinghua U., China</li>
		<li><a href = "http://www.mpi-inf.mpg.de/~jgiesen">Joachim Giesen</a>, Post-doc, Prof. U. Jena, Germany</li>
		<li><a href = "https://jalevine.bitbucket.io/">Joshua Levine</a>, PhD, post-doc at U. Utah, Prof. U. of Arizona</li>
		<li><a href = "https://www.researchgate.net/scientific-contributions/69726797_Kuiyu_Li">Kuiyu Li, PhD</a>, post-doc at Texas A&M</li>
		<li><a href = "https://www.linkedin.com/in/lei-wang-814ab333">Lei Wang</a>, Phd, Google</li>
		<li>Luke Molnar, Masters</li>
		<li>Mickael Buchet, post-doc, currently at Tohoku Univ., Japan</li>
		<li>Naveen Leekha, Masters, NVIDA</li>
		<li><a href = "https://www.linkedin.com/in/oleksiy-busaryev-31695b4">Oleksiy Busaryev</a>, PhD, Google</li>
		<li>Pawas Ranjan, PhD</li>
		<li><a href = "https://scholar.google.com/citations?user=hpNZqdUAAAAJ&hl=en">Ramsay Dyer</a>, post-doc, currently at INRIA,France</li>
		<li><a href = "https://www.linkedin.com/in/samrat-goswami-b8819b15a">Samrat Goswami</a>, PhD, post-doc at UT-Austin</li>
		<li><a href = "https://etd.ohiolink.edu/pg_10?0::NO:10:P10_ACCESSION_NUM:osu1155212604">Tathagata Ray</a>, PhD, Prof. BITS, Pilani,India</li>
		<li>Wulue Zhao, PhD</li>
</body>
