<body>
	<h1>Personnel</h1>
	<h2>Current Personnel</h2>
	<ul>
		<li class="names">Cheng Xin, PhD</li>
		<li class="names">Jiayuan Wang, PhD</li>
		<li class="names"><a href = "http://web.cse.ohio-state.edu/~slechta.3/">Ryan Slechta</a>, PhD</li>
		<li class="names"><a href ="http://web.cse.ohio-state.edu/~mandal.25/">Sayan Mandal</a>, PhD</li>
		<li class="names">Soham Mukherjee, PhD</li>
		<li class="names">Tao Hou, PhD</li>
		<li class="names">Tianqi Li, PhD</li>
	</ul>
	<h2 id="past">Past Personnel</h2>
	<ul>
		<li class="names">Alfred Rossi, post-doc</li>
		<li class="names"><a href = "http://web.cse.ohio-state.edu/~slatton/">Andrew Slatton</a>, Phd</li>
		<li class="names">Dayu Shi, Phd, Google</li>
		<li class="names">Fengtao Fan, Phd, Google</li>
		<li class="names">Hyuckje Woo, Post-doc, Prof. KINST, Korea</li>
		<li class="names">James Hudson, PhD, Prof. at Swansee U.</li>
		<li class="names"><a href = "http://web.cse.ohio-state.edu/~sunjia">Jian Sun</a>, PhD, post-doc at Stanford and Princeton, Prof. Tsinghua U., China</li>
		<li class="names"><a href = "http://www.mpi-inf.mpg.de/~jgiesen">Joachim Giesen</a>, Post-doc, Prof. U. Jena, Germany</li>
		<li class="names"><a href = "https://jalevine.bitbucket.io/">Joshua Levine</a>, PhD, post-doc at U. Utah, Prof. U. of Arizona</li>
		<li class="names"><a href = "http://staff.cse.tamu.edu/kuiyu/">Kuiyu Li, PhD</a>, post-doc at Texas A&M</li>
		<li class="names"><a href = "http://web.cse.ohio-state.edu/~wangle/">Lei Wang</a>, Phd, Google</li>
		<li class="names">Luke Molnar, Masters</li>
		<li class="names">Mickael Buchet, post-doc, currently at Tohoku Univ., Japan</li>
		<li class="names">Naveen Leekha, Masters, NVIDA</li>
		<li class="names"><a hred = "http://web.cse.ohio-state.edu/~busaryev">Oleksiy Busaryev</a>, PhD, Google</li>
		<li class="names">Pawas Ranjan, PhD</li>
		<li class="names"><a href = "https://www2.cs.sfu.ca/~rhdyer/personal/">Ramsay Dyer</a>, post-doc, currently at INRIA,France</li>
		<li class="names"><a href = "http://users.oden.utexas.edu/~samrat">Samrat Goswami</a>, PhD, post-doc at UT-Austin</li>
		<li class="names"><a href = "http://web.cse.ohio-state.edu/~rayt">Tathagata Ray</a>, PhD, Prof. BITS, Pilani,India</li>
		<li class="names">Wulue Zhao, PhD</li>
</body>