<body>
	<h1>Research Projects</h1>
	<h2><a href ="http://web.cse.ohio-state.edu/~dey.8/geohome.html">Computational Geometry and Topology in Geometric Modeling and Graphics</a></h2>
	<ul>
		<li class="big_bulletpts">Data Sparsification
			<ul>
				<li class="names"><a href = "http://web.cse.ohio-state.edu/~dey.8/GIC/gic.html">Graph Induced Complex</a></li>
			</ul>
		</li>
		<li class="big_bulletpts">Homology Features
			<ul>
				<li class="names"><a href ="http://web.cse.ohio-state.edu/~dey.8/handle/hantun.html">Handle and Tunnel Loops</a></li>
				<li class="names"><a href ="http://web.cse.ohio-state.edu/~dey.8/homology.html">Optimal Homologous Cycles</a></li>
				<li class="names"><a href ="http://web.cse.ohio-state.edu/~dey.8/homology.html">Shortest Homology Bassis</a></li>
			</ul>
		</li>
		<li class="big_bulletpts"><a href = "http://web.cse.ohio-state.edu/~dey.8/mesh.html">Meshing</a>
			<ul>
				<li class="names"><a href ="http://web.cse.ohio-state.edu/~dey.8/mesh-iso.htm">Isosurface</a></li>
				<li class="names"><a href ="http://web.cse.ohio-state.edu/~dey.8/LocDel.html">Localized Delaunay Refinement</a></li>
				<li class="names"><a href ="http://web.cse.ohio-state.edu/~dey.8/mesh-psc.html">Piecewise Smooth Complexes</a></li>
				<li class="names"><a href ="http://web.cse.ohio-state.edu/~dey.8/mesh-volume.html">Polyhedra</a></li>
				<li class="names"><a href ="http://web.cse.ohio-state.edu/~dey.8/mesh-smooth.html">Remeshing</a></li>
				<li class="names"><a href ="http://web.cse.ohio-state.edu/~dey.8/mesh-smooth.html">Smooth Surface</a></li>
			</ul>
		</li>
		<li class="big_bulletpts">Reconstruction
			<ul>
				<li class="names"><a href ="http://web.cse.ohio-state.edu/~dey.8/isotopic.html">Boundary Reconstruction</a></li>
				<li class="names"><a href ="http://web.cse.ohio-state.edu/~dey.8/curverecon.htm">Curve Reconstruction</a></li>
				<li class="names"><a href ="http://web.cse.ohio-state.edu/~dey.8/SingularCocone/singularcocone.html">Non-Smooth, Non-Manifold Surface Reconstruction</a></li>
				<li class="names"><a href ="http://web.cse.ohio-state.edu/~dey.8/surfrecon.htm">Surface Reconstruction</a></li>
			</ul>
		</li>
		<li class="big_bulletpts">Shape Features
			<ul>
				<li class="names"><a href ="http://web.cse.ohio-state.edu/~dey.8/cskel.html">Curve Skeletons</a></li>
				<li class="names"><a href ="http://web.cse.ohio-state.edu/~dey.8/dimensiondetection.htm">Dimension Detection</a></li>
				<li class="names"><a href ="http://web.cse.ohio-state.edu/~dey.8/medialaxis.htm">Medial Axis</a></li>
				<li class="names"><a href ="http://web.cse.ohio-state.edu/~dey.8/normfet.html">Normal and Feature Approximation</a></li>
				<li class="names"><a href ="http://web.cse.ohio-state.edu/~dey.8/segmentation.html">Shape Segmentation and Matching</a></li>
			</ul>
		</li>
		<li class="big_bulletpts"><a href = "http://web.cse.ohio-state.edu/~dey.8/decim.htm">Simplification</a></li>
	</ul>
	<h2><a href = "http://web.cse.ohio-state.edu/~dey.8/geometry-papers.htm">Computational and Combinatorial Geometry</a></h2>
	<h2><a href = "http://web.cse.ohio-state.edu/~dey.8/topology-papers.htm">Computational Topology(NSF report)</a></h2>