<body>
	<h1>Research</h1>
	<p class="header_text">I belong to <a href = "https://cse.osu.edu/directory/categories/research_area/theory--algorithms">Theory</a>, <a href = "https://cse.osu.edu/directory/categories/research_area/computer-graphics"> Graphics </a>, and <a href = "https://research.math.osu.edu/tgda/">TGDA </a>(topology, geometry, data analysis) groups at OSU.</p>
	<h2><a href = "personnel.html">Research Personnel</a></h2>
	<h2><a href = "projects.html">Research Projects</a></h2>
	<h2><a href = "software.html">Research Software</a></h2>
</body>