<body>
	<h1>Personnel</h1>
	<h2>Current Personnel</h2>
	<ul>
		<li class="names">Cheng Xin, PhD</li>
		<li class="names">Jiayuan Wang, PhD</li>
		<li class="names"><a href = "http://web.cse.ohio-state.edu/~slechta.3/">Ryan Slechta, PhD</a></li>
		<li class="names"><a href ="http://web.cse.ohio-state.edu/~mandal.25/">Sayan Mandal, PhD</a></li>
		<li class="names">Soham Mukherjee, PhD</li>
		<li class="names">Tao Hou, PhD</li>
		<li class="names">Tianqi Li, PhD</li>
	</ul>
	<h2 id="past">Past Personnel</h2>
	<ul>
		<li class="names">Alfred Rossi, post-doc</li>
		<li class="names">Andrew Slatton, Phd</li>
		<li class="names">Dayu Shi, Phd, Google</li>
		<li class="names">Fengtao Fan, Phd, Google</li>
		<li class="names">Hyuckje Woo, Post-doc, Prof. KINST, Korea</li>
		<li class="names">James Hudson, PhD, Prof. at Swansee U.</li>
		<li class="names">Jian Sun, PhD, post-doc at Stanford and Princeton, Prof. Tsinghua U., China</li>
		<li class="names"><a href = "http://www.mpi-inf.mpg.de/~jgiesen">Joachim Giesen, Post-doc, Prof. U. Jena, Germany</a></li>
		<li class="names">Joshua Levine, PhD, post-doc at U. Utah, Prof. U. of Arizona</li>
		<li class="names">Kuiyu Li, PhD, post-doc at Texas A&M</li>
		<li class="names">Lei Wang, Phd, Google</li>
		<li class="names">Luke Molnar, Masters</li>
		<li class="names">Mickael Buchet, post-doc, currently at Tohoku Univ., Japan</li>
		<li class="names">Naveen Leekha, Masters, NVIDA</li>
		<li class="names">Oleksiy Busaryev, PhD, Google</li>
		<li class="names">Pawas Ranjan, PhD</li>
		<li class="names"><a href = "https://www2.cs.sfu.ca/~rhdyer/personal/">Ramsay Dyer, post-doc, currently at INRIA,France</a></li>
		<li class="names">Samrat Goswami, PhD, post-doc at UT-Austin</li>
		<li class="names">Tathagata Ray, PhD, Prof. BITS, Pilani,India</li>
		<li class="names">Wulue Zhao, PhD</li>
</body>