<%= partial 'partials/nav' %>
<div class="title"> 
	<h1>Teaching</h1>
</div>

<div id="year">
	<h2>2018-2019</h2>
</div>
<table>
<teaching>
<ul>
	<li><a href="http://web.cse.ohio-state.edu/~dey.8/course/6332/">CSE 6332</a>: Advanced Algorithm (Spring)</li>
</ul>
<table>

<div id="year">
	<h2>2017-2018</h2>
</div>
<table>
<teaching>
<ul>
	<li><a href="http://web.cse.ohio-state.edu/~dey.8/course/784/syllabus.html">CSE 5543</a>: Geometric Modeling (Spring)</li>
</ul>
<table>

<div id="year">
	<h2>2016-2017</h2>
</div>
<table>
<teaching>
<ul>
	<li><a href="http://web.cse.ohio-state.edu/~dey.8/course/CTDA/CTDA.html">CSE 5559</a>: Computational Topology and Data Analysis (Spring)</li>
</ul>
<table>

<div id="year">
	<h2>2015-2016</h2>
</div>
<table>
<teaching>
<ul>
	<li><a href="https://coe-portal.cse.ohio-state.edu/pdf-exports/CSE/CSE-2331.pdf">CSE 2331</a>: Data Structure & Algorithms (Fall)</li>
</ul>
<table>

<div id="year">
	<h2>2013-2014</h2>
</div>
<table>
<teaching>
<ul>
	<li><a href="http://web.cse.ohio-state.edu/~dey.8/course/CTDA/CTDA.html">CSE 5339</a>: Computational Topology and Data Analysis (Fall)</li>
</ul>
<table>

<div id="year">
	<h2>2012-2013</h2>
</div>
<table>
<teaching>
<ul>
	<li><a href="http://web.cse.ohio-state.edu/~dey.8/course/6331/">CSE 6331</a>: Algorithms (Fall)</li>
</ul>
<table>

<div id="year">
	<h2>2009-2010</h2>
</div>
<table>
<teaching>
<ul>
	<li><a href="http://web.cse.ohio-state.edu/~dey.8/course/625/">CSE 625</a>: Formal Languages and Automata Theory (Winter)</li>
</ul>
<table>

<div id="year">
	<h2>2005-2006</h2>
</div>
<table>
<teaching>
<ul>
	<li><a href="http://web.cse.ohio-state.edu/~dey.8/course/788/">CIS 788</a>: Sample Based Modeling for Graphics and Visualization (Fall)</li>
</ul>
<table>

<div id="year">
	<h2>2000-2001</h2>
</div>
<table>
<teaching>
<ul>
	<li>CIS 888: Subdivision surfaces (Winter)</li>
</ul>
<table>

<div id="year">
	<h2>1999-2000</h2>
</div>
<table>
<teaching>
<ul>
	<li>Shape Modeling in graphics and visualization (Spring)</li>
</ul>
<table>
