<% data= YAML.load(File.open(File.join(File.dirname(__FILE__),'data.yaml'))) %>
<h1>Teaching</h1>
<table id = "teaching">
  <tr>
    <th>Semester</th>
    <th>Class Name</th>
  </tr>
  <% data["teaching"].each do |n| %>
  <tr>
    <td><%= n["time"]%></td>
    <%if n["link"]=="" %>
		<td><%= n["name"]%></td>
		<%else%>
		<td><a href=<%= n["link"]%>><%= n["name"]%></a></td>
		<%end%>
  </tr>
  <%end%>
</table>
